---
//import Welcome from '../components/Welcome.astro';
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import MailIcon from "../components/icons/Mail.astro";
import SchoolItem from "../components/SchoolItem.astro";
import School from "../components/School.astro";
import Experience from "../components/Experience.astro";
import ExperienceIcon from "../components/icons/BriefcaseIcon.astro";
import SchoolIcon from "../components/icons/SchoolIcon.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Portfolio Jose Fabian - Desarrollador y programador web."
  description="Informacion personal a cerca de mí."
>
  <main>
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="/src/components/myselft_pic.jpg"
        alt="fabian photo for portfolio"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hola, soy José Fabián <a
          href="https://www.linkedin.com/in/josé-fabián-salcedo-estrada-ba3a81241"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <div class="flex justify-center items-center">
            <Badge>Disponible para trabajar</Badge>
          </div>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span> Desarrollador de aplicaciones web y escritorio.</span>
        <span class="text-yellow-200/90">Originario de Córdoba, Ver. </span>
        <span
          >Especializado en soluciones Back-End e integraciones con API's</span
        >
      </h2>
      <nav class="flex gap-x-2 mt-8">
        <SocialPill
          href="https://www.linkedin.com/in/josé-fabián-salcedo-estrada-ba3a81241"
        >
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/deimosestr">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="">
          <MailIcon class="size-6" />
          fabiestrada19@outlook.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="academy">
      <h2 class="text-2xl font-semibold mb-4 flex gap-x-3 items items-center">
		<ExperienceIcon class="size-7"/>
        <!--<SchoolIcon class="size-7" /> -->
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
