---
//import Welcome from '../components/Welcome.astro';
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Astro">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full w-12 w-12 mb-4"
        src="/src/components/myselft_pic.jpg"
        alt="fabian photo for portfolio"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hola, soy José Fabián <a
          href="https://www.linkedin.com/in/josé-fabián-salcedo-estrada-ba3a81241"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <div class="flex justify-center items-center">
            <Badge>Disponible para trabajar</Badge>
          </div>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80">
        2 años de experiencia desarrollando aplicaciones web y escritorio.
        Originario de Córdoba, Ver. Especializado en soluciones Back-End e
        integraciones con API's
      </h2>
      <ul></ul>
    </section>
  </main>
</Layout>
