<header class="flex justify-between items-center py-3">
  <img
    class="rounded-full w-12 w-12"
    src="/src/components/personal_photo.jpg"
    alt="fabian photo for portfolio"
  />
  <nav>
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
